<div class="card">
    <div class="card-body">
        <section>
            <form [formGroup]="createVehicleForm">
                <div class="form-group">
                    <label for="create-vehicle__license-plate">License plate</label>
                    <input formControlName="license_plate" type="text" class="form-control" id="create-vehicle__license-plate"
                        aria-describedby="license_plate" placeholder="Enter license plate">
                    <div
                        *ngIf="createVehicleForm.get('license_plate').errors?.required"
                        class="error-message"
                        id="create-vehicle__error-license-plate-required">
                        * License plate is required
                    </div>
                    <div
                        *ngIf="createVehicleForm.get('license_plate').errors?.maxlength"
                        class="error-message"
                        id="create-vehicle__error--license-plate-max-length">
                        * License plate can be max 6 characters long
                    </div>
                    <div
                        *ngIf="createVehicleForm.get('license_plate').errors?.minlength"
                        class="error-message"
                        id="create-vehicle__error--license-plate-min-length">
                        * License plate can be min 5 characters long
                    </div>
                </div>
                <div class="form-group">
                    <label for="create-vehicle__vehicle-name">Vehicle name</label>
                    <input formControlName="vehicle_name" type="text" class="form-control" id="create-vehicle__vehicle-name"
                        aria-describedby="vehicle_name" placeholder="Enter vehicle name">
                    <div
                        *ngIf="createVehicleForm.get('vehicle_name').errors?.required"
                        class="error-message"
                        id="create-vehicle__error--vehicle-name-required">
                        * Vehicle name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="create-vehicle__vehicle-type">Vehicle type</label>
                    <select formControlName="vehicle_type" class="form-select" id="create-vehicle__vehicle-type">
                        <option value="" selected>Select</option>
                        <option 
                            [id]="'create-vehicle__vehicle-type-option--' + option"
                            *ngFor="let option of vehicleTypeOptions" 
                            [ngValue]="option">
                            {{option}}
                        </option>
                    </select>
                    <div
                        *ngIf="createVehicleForm.get('vehicle_type').errors?.required"
                        class="error-message"
                        id="create-vehicle__error--vehicle-type-required">
                        * Vehicle type is required
                    </div>
                </div>
                <div class="save-button__container">
                    <button [disabled]="createVehicleForm.invalid"
                        (click)="createVehicle()"
                        id="create-vehicle__btn-create"
                        type="button" 
                        class="btn btn-success">
                        Create Vehicle
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>