<div class="card">
    <div class="card-body">
        <section>
            <form [formGroup]="createParkingLotForm">
                <div class="form-group">
                    <label for="code">Code</label>
                    <input formControlName="code" type="text" class="form-control" id="code" aria-describedby="code"
                        placeholder="Enter code">
                </div>
                <div class="form-group">
                    <label for="parkingType">Parking Type</label>
                    <select formControlName="parking_type" class="form-select" id="parkingType">
                        <option value="car">
                            car
                        </option>
                        <option value="motorcycle">
                            motorcycle
                        </option>
                    </select>
                </div>
                <div>
                    <button [disabled]="createParkingLotForm.invalid"
                        (click)="createParkingLot()"
                        class="btn btn-success">
                        Create parking lot
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>