<div class="card">
    <div class="card-body">
        <section>
            <form [formGroup]="updateVehicleForm">
                <div class="form-group">
                    <label for="update-vehicle__license-plate">license plate</label>
                    <input formControlName="license_plate" type="text" class="form-control" id="update-vehicle__license-plate"
                        aria-describedby="license_plate" placeholder="Enter license plate">
                    <div
                        *ngIf="updateVehicleForm.get('license_plate').errors?.required"
                        class="error-message"
                        id="update-vehicle__error-license-plate-required">
                        * License plate is required
                    </div>
                    <div 
                        *ngIf="updateVehicleForm.get('license_plate').errors?.maxlength"
                        class="error-message"
                        id="update-vehicle__error--license-plate-max-length">
                        * License plate can be max 6 characters long
                    </div>
                    <div
                        *ngIf="updateVehicleForm.get('license_plate').errors?.minlength"
                        class="error-message"
                        id="update-vehicle__error--license-plate-min-length">
                        * License plate can be min 5 characters long
                    </div>
                </div>
                <div class="form-group">
                    <label for="update-vehicle__vehicle-name">Vehicle name</label>
                    <input formControlName="vehicle_name" type="text" class="form-control" id="update-vehicle__vehicle-name"
                        aria-describedby="vehicle_name" placeholder="Enter license plate">
                    <div
                        *ngIf="updateVehicleForm.get('vehicle_name').errors?.required"
                        class="error-message"
                        id="update-vehicle__error--vehicle-name-required">
                        * Vehicle name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="update-vehicle__vehicle-type">Vehicle type</label>
                    <select formControlName="vehicle_type" class="form-select" id="update-vehicle__vehicle-type">
                        <option value="" selected>Select</option>
                        <option 
                            [id]="'update-vehicle__vehicle-type-option--' + option"
                            *ngFor="let option of vehicleTypeOptions" 
                            [ngValue]="option">
                            {{option}}
                        </option>
                    </select>
                    <div
                        *ngIf="updateVehicleForm.get('vehicle_type').errors?.required"
                        class="error-message"
                        id="update-vehicle__error--vehicle-type-required">
                        * Vehicle type is required
                    </div>
                </div>
                <div>
                    <button [disabled]="updateVehicleForm.invalid"
                        (click)="updateVehicle()"
                        type="button" 
                        id="update-vehicle__btn-update"
                        class="btn btn-success">
                        Update Vehicle
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>